.radio {
  align-items: center;
  border-radius: var(--border-radius-default);
  border: 1px solid var(--color-brand);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  max-width: var(--width-input);
  padding: 0.5em;
  width: 100%;
  
}

.adresse {
padding: 1rem;

}

.radio:hover {
  background: #f2f2f2;
}

.radio input[type="radio"] {
  margin: 0;
}
